In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/tidyverse/ggplot2/master/data-raw/diamonds.csv')

In [0]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
carat      53940 non-null float64
cut        53940 non-null object
color      53940 non-null object
clarity    53940 non-null object
depth      53940 non-null float64
table      53940 non-null float64
price      53940 non-null int64
x          53940 non-null float64
y          53940 non-null float64
z          53940 non-null float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [0]:
df.shape

(53940, 10)

In [0]:
set(df.cut)

{'Fair', 'Good', 'Ideal', 'Premium', 'Very Good'}

In [0]:
set(df.color)

{'D', 'E', 'F', 'G', 'H', 'I', 'J'}

In [0]:
set(df.clarity)

{'I1', 'IF', 'SI1', 'SI2', 'VS1', 'VS2', 'VVS1', 'VVS2'}

In [0]:
f = pd.Series(df.price)

In [0]:
df.cut.value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

In [0]:
df.color.value_counts()

G    11292
E     9797
F     9542
H     8304
D     6775
I     5422
J     2808
Name: color, dtype: int64

In [0]:
df.clarity.value_counts()

SI1     13065
VS2     12258
SI2      9194
VS1      8171
VVS2     5066
VVS1     3655
IF       1790
I1        741
Name: clarity, dtype: int64

In [0]:
f = pd.Series(df.price)

In [0]:
f[0:5]

0    326
1    326
2    327
3    334
4    335
Name: price, dtype: int64

In [0]:
type(f)

pandas.core.series.Series

In [0]:
f.sort_values(ascending=False)[0:5]

27749    18823
27748    18818
27747    18806
27746    18804
27745    18803
Name: price, dtype: int64

In [0]:
df.sort_index().head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [0]:
df.sort_index(by='clarity').head(10)

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

       carat        cut color clarity  depth  table  price     x     y     z
4378    1.06      Ideal     F      I1   62.1   55.0   3609  6.57  6.54  4.07
38319   0.57      Ideal     G      I1   59.5   57.0   1019  5.46  5.42  3.24
15684   2.49       Fair     J      I1   66.3   58.0   6289  8.26  8.18  5.45
3542    1.07      Ideal     H      I1   62.1   55.0   3412  6.55  6.59  4.08
1829    1.03  Very Good     G      I1   62.4   57.0   3060  6.41  6.45  4.01
6021    1.18  Very Good     E      I1   63.3   57.0   3965  6.70  6.64  4.22
6022    1.18    Premium     E      I1   62.5   58.0   3965  6.75  6.62  4.18
3522    1.00    Premium     F      I1   62.4   59.0   3405  6.38  6.34  3.97
925     1.05    Premium     H      I1   62.0   59.0   2881  6.50  6.47  4.02
17106   1.74    Premium     F      I1   59.9   58.0   6821  7.88  7.82  4.70

In [0]:
df.sort_index(by='clarity').tail(10)

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

       carat        cut color clarity  depth  table  price     x     y     z
5712    0.25  Very Good     F    VVS2   63.2   57.0    575  3.99  4.01  2.53
3228    0.72      Ideal     G    VVS2   61.2   57.0   3352  5.76  5.77  3.53
5711    0.25  Very Good     F    VVS2   60.4   59.0    575  4.09  4.12  2.48
5710    0.25  Very Good     F    VVS2   61.0   58.0    575  4.02  4.05  2.46
5709    0.25  Very Good     F    VVS2   61.8   58.0    575  4.05  4.07  2.51
5708    0.25  Very Good     F    VVS2   59.4   57.0    575  4.10  4.12  2.44
49609   0.51      Ideal     F    VVS2   60.3   56.0   2138  5.20  5.23  3.15
5707    0.25  Very Good     F    VVS2   59.0   58.0    575  4.10  4.14  2.43
5713    0.27  Very Good     E    VVS2   58.6   61.0    575  4.27  4.30  2.51
28459   0.32  Very Good     G    VVS2   61.5   54.0    672  4.40  4.42  2.71

In [0]:
df.sort_index(by='color').head()

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

       carat        cut color clarity  depth  table  price     x     y     z
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64
7817    1.00  Very Good     D     SI2   63.5   59.0   4295  6.35  6.32  4.02
7816    1.00       Good     D     SI2   57.8   58.0   4295  6.61  6.55  3.80
7815    1.00  Very Good     D     SI2   61.5   63.0   4295  6.32  6.27  3.87
7809    0.56      Ideal     D      IF   61.9   57.0   4293  5.28  5.31  3.28

In [0]:
df.sort_index(by='color').tail()

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

       carat        cut color clarity  depth  table  price     x     y     z
4861    1.00    Premium     J     SI1   60.8   58.0   3712  6.39  6.44  3.90
18421   1.52      Ideal     J     SI1   61.9   57.0   7491  7.37  7.33  4.55
18423   1.50  Very Good     J     VS2   62.6   58.0   7492  7.25  7.29  4.55
42108   0.65      Ideal     J     SI1   61.4   55.0   1276  5.58  5.62  3.44
14123   1.30      Ideal     J     SI1   61.5   55.0   5728  7.03  7.06  4.33

In [0]:
df.sort_index(by='cut').head()

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

       carat   cut color clarity  depth  table  price     x     y     z
3850    1.01  Fair     F     SI2   64.8   55.0   3477  6.37  6.26  4.10
51464   1.20  Fair     G      I1   66.6   57.0   2376  6.57  6.50  4.34
51466   0.90  Fair     G     SI2   65.4   57.0   2376  6.01  5.97  3.98
10237   1.26  Fair     D     SI2   64.5   59.0   4746  6.75  6.71  4.34
10760   1.01  Fair     E     SI1   69.5   55.0   4853  6.00  5.94  4.15

In [0]:
df.sort_index(by='cut').tail()

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

       carat        cut color clarity  depth  table  price     x     y     z
7402    0.33  Very Good     G     VS2   62.8   54.0    579  4.40  4.42  2.77
43101   0.57  Very Good     E     SI2   58.8   57.3   1384  5.42  5.46  3.21
16893   1.00  Very Good     G     VS2   62.2   58.0   6743  6.35  6.39  3.96
16898   1.00  Very Good     D     VS2   59.6   60.0   6745  6.52  6.57  3.90
21164   1.00  Very Good     E    VVS2   61.7   55.0   9324  6.38  6.42  3.95

In [0]:
df.sort_index(by='price',ascending=False).head()

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

       carat        cut color clarity  depth  table  price     x     y     z
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
27746   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
27745   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01

In [0]:
df.sort_index(by='price',ascending=False).tail()

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

   carat      cut color clarity  depth  table  price     x     y     z
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43

In [0]:
df.sort_index(by=['price','cut']).head()

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [0]:
df.sort_index(by=['price','cut'],ascending=[False,True]).head()

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

       carat        cut color clarity  depth  table  price     x     y     z
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
27746   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
27745   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01

In [0]:
df.sort_index(by=['depth','table'],ascending=[False,True]).head()

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

       carat   cut color clarity  depth  table  price     x     y     z
52860   0.50  Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09
52861   0.50  Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09
41918   1.03  Fair     E      I1   78.2   54.0   1262  5.72  5.59  4.42
46679   0.99  Fair     J      I1   73.6   60.0   1789  6.01  5.80  4.35
53540   0.90  Fair     G     SI1   72.9   54.0   2691  5.74  5.67  4.16

In [0]:
set(df.color)

{'D', 'E', 'F', 'G', 'H', 'I', 'J'}

In [0]:
df.sort_index(by=['color','table'],ascending=[True,True]).head()

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

       carat      cut color clarity  depth  table  price     x     y     z
995     0.54    Ideal     D    VVS2   61.4   52.0   2897  5.30  5.34  3.26
15858   1.20     Good     D     SI2   63.7   52.0   6344  6.72  6.68  4.27
21086   1.23  Premium     D     VS2   62.6   52.0   9257  6.93  6.88  4.32
21406   1.39    Ideal     D     SI1   61.9   52.0   9519  7.24  7.25  4.48
26431   3.40     Fair     D      I1   66.8   52.0  15964  9.42  9.34  6.27

In [0]:
df.sort_values(by=['color','table'],ascending=[True,True]).head()

       carat      cut color clarity  depth  table  price     x     y     z
995     0.54    Ideal     D    VVS2   61.4   52.0   2897  5.30  5.34  3.26
15858   1.20     Good     D     SI2   63.7   52.0   6344  6.72  6.68  4.27
21086   1.23  Premium     D     VS2   62.6   52.0   9257  6.93  6.88  4.32
21406   1.39    Ideal     D     SI1   61.9   52.0   9519  7.24  7.25  4.48
26431   3.40     Fair     D      I1   66.8   52.0  15964  9.42  9.34  6.27

In [0]:
# duplicate values

In [0]:
df.duplicated().sum()

146

In [0]:
df[df.duplicated()]

       carat        cut color clarity  depth  table  price     x     y     z
1005    0.79      Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1006    0.79      Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1007    0.79      Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1008    0.79      Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
2025    1.52       Good     E      I1   57.3   58.0   3105  7.53  7.42  4.28
2183    1.00       Fair     E     SI2   67.0   53.0   3136  6.19  6.13  4.13
2820    1.00       Fair     F     SI2   65.1   55.0   3265  6.26  6.23  4.07
3156    0.90  Very Good     I     VS2   58.4   62.0   3334  6.29  6.35  3.69
3704    1.00      Ideal     E     SI2   62.9   56.0   3450  6.32  6.30  3.97
3981    1.00       Fair     H     SI1   65.5   57.0   3511  6.26  6.21  4.08
4386    0.31       Good     D     SI1   63.5   56.0    571  4.29  4.31  2.73
4493    1.00      Ideal     I     SI2   58.8   55.0   3629  6.53  6.46  3.82
4520    1.00    Premium     G     SI1   60.1   61.0   3634  6.44  6.40  3.86
5175    1.04    Premium     I     SI2   62.0   57.0   3774  6.53  6.47  4.03
5665    1.00    Premium     F     SI1   59.4   62.0   3881  6.55  6.52  3.88
6337    1.00    Premium     H     SI2   61.0   57.0   4032  6.51  6.40  3.94
7711    0.33      Ideal     E     SI1   62.5   55.0    579  4.42  4.45  2.77
7744    1.24    Premium     E     SI2   60.8   57.0   4278  6.98  6.94  4.23
8331    1.09    Premium     H     SI2   61.2   62.0   4395  6.63  6.58  4.04
8601    1.03       Good     D     SI1   64.3   58.0   4441  6.31  6.28  4.05
9196    1.31    Premium     H     SI2   61.7   59.0   4548  7.03  6.98  4.32
9593    1.06      Ideal     I     SI1   61.2   56.0   4630  6.64  6.60  4.05
10180   1.22    Premium     I     SI2   61.5   61.0   4735  6.89  6.83  4.22
10363   1.23      Ideal     I     SI2   62.3   55.0   4773  6.85  6.82  4.26
10472   1.01       Fair     F     VS2   64.8   56.0   4791  6.30  6.25  4.07
11009   1.10    Premium     H     SI1   63.0   58.0   4916  6.60  6.55  4.14
11243   1.10    Premium     E     SI2   59.1   60.0   4967  6.77  6.70  3.98
11315   1.23      Ideal     J     VS2   61.8   56.0   4986  6.87  6.81  4.23
12266   1.50       Good     H     SI2   64.0   61.0   5208  7.18  7.14  4.58
12293   1.21    Premium     H     SI2   61.9   55.0   5218  6.84  6.79  4.22
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
38636   0.31  Very Good     H     VS2   63.0   57.0    489  4.32  4.34  2.73
38729   0.40      Ideal     G    VVS1   62.3   54.0   1043  4.75  4.76  2.96
38867   0.40    Premium     F     VS1   61.4   58.0   1050  4.75  4.73  2.91
38923   0.51    Premium     F     SI2   58.1   59.0   1052  5.26  5.24  3.05
39058   0.57    Premium     E     SI2   62.5   54.0   1058  5.35  5.30  3.33
39129   0.41    Premium     G     VS2   61.4   59.0   1061  4.79  4.75  2.93
39235   0.32      Ideal     D    VVS1   61.8   56.0   1067  4.39  4.41  2.72
39360   0.52    Premium     F     SI2   62.7   57.0   1073  5.11  5.07  3.19
39443   0.52    Premium     G     SI2   58.4   62.0   1076  5.33  5.28  3.10
39512   0.32      Ideal     E    VVS2   62.3   56.0   1080  4.40  4.37  2.73
40096   0.33      Ideal     G    VVS1   62.0   56.0   1114  4.48  4.45  2.77
40464   0.32      Ideal     D    VVS1   61.8   56.0   1140  4.41  4.39  2.72
41124   0.60    Premium     D     SI2   62.0   57.0   1196  5.43  5.35  3.34
41676   0.33      Ideal     F      IF   61.2   56.0   1240  4.47  4.49  2.74
41798   0.60  Very Good     E     SI2   63.2   60.0   1250  5.32  5.28  3.35
42111   0.34      Ideal     F      IF   61.7   55.0   1276  4.49  4.52  2.78
42983   0.41      Ideal     G      IF   61.7   56.0   1367  4.77  4.80  2.95
43261   0.30  Very Good     J     VS1   63.4   57.0    506  4.26  4.23  2.69
43425   0.35       Fair     G     VS2   65.9   54.0   1415  5.57  5.53  3.66
43500   0.54      Ideal     E     SI1   61.3   56.0   1422  5.22  5.25  3.21
43570   0.41      Ideal     G      IF   61.7   56.0   1431  4.80  4.77  2.95
46568   0.71       Good     E     SI2   57.5   58.0   1783  5.91  5.89  3.39
46648   0.30  Very Good     G     VS2   63.0   55.0    526  4.29  4.31  2.71
47069   0.52      Ideal     D     VS2   61.8   55.0   1822  5.16  5.19  3.20
47296   0.30       Good     J     VS1   63.4   57.0    394  4.23  4.26  2.69
47969   0.52      Ideal     D     VS2   61.8   55.0   1919  5.19  5.16  3.20
49326   0.51      Ideal     F    VVS2   61.2   56.0   2093  5.17  5.19  3.17
49557   0.71       Good     F     SI2   64.1   60.0   2130  0.00  0.00  0.00
50079   0.51      Ideal     F    VVS2   61.2   56.0   2203  5.19  5.17  3.17
52861   0.50       Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09

[146 rows x 10 columns]

In [0]:
df[df.duplicated()].tail()

       carat    cut color clarity  depth  table  price     x     y     z
47969   0.52  Ideal     D     VS2   61.8   55.0   1919  5.19  5.16  3.20
49326   0.51  Ideal     F    VVS2   61.2   56.0   2093  5.17  5.19  3.17
49557   0.71   Good     F     SI2   64.1   60.0   2130  0.00  0.00  0.00
50079   0.51  Ideal     F    VVS2   61.2   56.0   2203  5.19  5.17  3.17
52861   0.50   Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09

In [0]:
df.shape

(53940, 10)

In [0]:
df.drop_duplicates(inplace=True)

In [0]:
df.shape

(53794, 10)

In [0]:
df.duplicated().sum()

0

In [0]:
# find out the duplicates in one column

In [0]:
df.depth.duplicated().sum()

53610

In [0]:
# more than two columns and find duplicates

In [0]:
df.duplicated(['cut','color','clarity']).sum()

53518

In [0]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [0]:
df.to_csv('corrected_diamonds_data.csv')

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53794 entries, 0 to 53939
Data columns (total 10 columns):
carat      53794 non-null float64
cut        53794 non-null object
color      53794 non-null object
clarity    53794 non-null object
depth      53794 non-null float64
table      53794 non-null float64
price      53794 non-null int64
x          53794 non-null float64
y          53794 non-null float64
z          53794 non-null float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.5+ MB

In [0]:
df.describe()

,carat,depth,table,price,x,y,z
count,53794.00000,53794.000000,53794.000000,53794.000000,53794.000000,53794.000000,53794.000000
mean,0.79778,61.748080,57.458109,3933.065082,5.731214,5.734653,3.538714
std,0.47339,1.429909,2.233679,3988.114460,1.120695,1.141209,0.705037
min,0.20000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.40000,61.000000,56.000000,951.000000,4.710000,4.720000,2.910000
50%,0.70000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.04000,62.500000,59.000000,5326.750000,6.540000,6.540000,4.030000
max,5.01000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [0]:
x = pd.Series([25,30,35,47,58,59,63])

In [0]:
x.describe()

count     7.000000
mean     45.285714
std      15.370039
min      25.000000
25%      32.500000
50%      47.000000
75%      58.500000
max      63.000000
dtype: float64

In [0]:
df.dropna()

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5       0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6       0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7       0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8       0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9       0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39
10      0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
11      0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12      0.22    Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
13      0.31      Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
14      0.20    Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15      0.32    Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
16      0.30      Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
17      0.30       Good     J     SI1   63.4   54.0    351  4.23  4.29  2.70
18      0.30       Good     J     SI1   63.8   56.0    351  4.23  4.26  2.71
19      0.30  Very Good     J     SI1   62.7   59.0    351  4.21  4.27  2.66
20      0.30       Good     I     SI2   63.3   56.0    351  4.26  4.30  2.71
21      0.23  Very Good     E     VS2   63.8   55.0    352  3.85  3.92  2.48
22      0.23  Very Good     H     VS1   61.0   57.0    353  3.94  3.96  2.41
23      0.31  Very Good     J     SI1   59.4   62.0    353  4.39  4.43  2.62
24      0.31  Very Good     J     SI1   58.1   62.0    353  4.44  4.47  2.59
25      0.23  Very Good     G    VVS2   60.4   58.0    354  3.97  4.01  2.41
26      0.24    Premium     I     VS1   62.5   57.0    355  3.97  3.94  2.47
27      0.30  Very Good     J     VS2   62.2   57.0    357  4.28  4.30  2.67
28      0.23  Very Good     D     VS2   60.5   61.0    357  3.96  3.97  2.40
29      0.23  Very Good     F     VS1   60.9   57.0    357  3.96  3.99  2.42
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53910   0.70    Premium     E     SI1   60.5   58.0   2753  5.74  5.77  3.48
53911   0.57    Premium     E      IF   59.8   60.0   2753  5.43  5.38  3.23
53912   0.61    Premium     F    VVS1   61.8   59.0   2753  5.48  5.40  3.36
53913   0.80       Good     G     VS2   64.2   58.0   2753  5.84  5.81  3.74
53914   0.84       Good     I     VS1   63.7   59.0   2753  5.94  5.90  3.77
53915   0.77      Ideal     E     SI2   62.1   56.0   2753  5.84  5.86  3.63
53916   0.74       Good     D     SI1   63.1   59.0   2753  5.71  5.74  3.61
53917   0.90  Very Good     J     SI1   63.2   60.0   2753  6.12  6.09  3.86
53918   0.76    Premium     I     VS1   59.3   62.0   2753  5.93  5.85  3.49
53919   0.76      Ideal     I    VVS1   62.2   55.0   2753  5.89  5.87  3.66
53920   0.70  Very Good     E     VS2   62.4   60.0   2755  5.57  5.61  3.49
53921   0.70  Very Good     E     VS2   62.8   60.0   2755  5.59  5.65  3.53
53922   0.70  Very Good     D     VS1   63.1   59.0   2755  5.67  5.58  3.55
53923   0.73      Ideal     I     VS2   61.3   56.0   2756  5.80  5.84  3.57
53924   0.73      Ideal     I     VS2   61.6   55.0   2756  5.82  5.84  3.59
53925   0.79      Ideal     I     SI1   61.6   56.0   2756  5.95  5.97  3.67
53926   0.71      Ideal     E     SI1   61.9   56.0   2756  5.71  5.73  3.54
53927   0.79       Good     F     SI1   58.1   59.0   2756  6.06  6.13  3.54
53928   0.79    Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53929   0.71      Ideal     G     VS1   61.4   56.0   2756  5.76  5.73  3.53
53930   0.71    Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71    Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53932   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53934   0.72    Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53794 rows x 10 columns]

In [0]:
df.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [0]:
df['cut'].describe()

count     53794
unique        5
top       Ideal
freq      21488
Name: cut, dtype: object

In [0]:
df[['cut','color','clarity']].describe()

          cut  color clarity
count   53794  53794   53794
unique      5      7       8
top     Ideal      G     SI1
freq    21488  11262   13032

In [0]:
df.describe(include=['object'])

          cut  color clarity
count   53794  53794   53794
unique      5      7       8
top     Ideal      G     SI1
freq    21488  11262   13032

In [0]:
df.price.describe()

count    53794.000000
mean      3933.065082
std       3988.114460
min        326.000000
25%        951.000000
50%       2401.000000
75%       5326.750000
max      18823.000000
Name: price, dtype: float64

In [0]:
df[df.color=='D'].price.describe()

count     6755.000000
mean      3174.441007
std       3359.275179
min        357.000000
25%        911.000000
50%       1842.000000
75%       4214.500000
max      18693.000000
Name: price, dtype: float64

In [0]:
df.cut.value_counts()

Ideal        21488
Premium      13748
Very Good    12069
Good          4891
Fair          1598
Name: cut, dtype: int64

In [0]:
#identify the missing values

In [0]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [0]:
c = [21,'NaN',23,34,None]

In [0]:
c

[21, 'NaN', 23, 34, None]

In [0]:
pd.Series(c).isnull()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [0]:
c[1] = None

In [0]:
c

[21, None, 23, 34, None]

In [0]:
pd.Series(c).isnull()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [0]:
pd.Series(c).dropna()

0    21.0
2    23.0
3    34.0
dtype: float64

In [0]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [0]:
# summarization and groupby functions

In [0]:
df.groupby('cut').price.mean()

cut
Fair         4341.954318
Good         3919.121039
Ideal        3462.749953
Premium      4583.501891
Very Good    3981.016157
Name: price, dtype: float64

In [0]:
df.groupby('cut').mean()

,carat,depth,table,price,x,y,z
cut,,,,,,,
Fair,1.043736,64.022403,59.067960,4341.954318,6.243035,6.178723,3.979155
Good,0.847215,62.366510,58.693089,3919.121039,5.836350,5.848442,3.638082
Ideal,0.703472,61.708651,55.952736,3462.749953,5.509227,5.521907,3.402524
Premium,0.891620,61.264518,58.746901,4583.501891,5.973170,5.944203,3.646684
Very Good,0.806195,61.817359,57.956600,3981.016157,5.740457,5.769822,3.559613

In [0]:
df.groupby('cut').count()

           carat  color  clarity  depth  table  price      x      y      z
cut
Fair        1598   1598     1598   1598   1598   1598   1598   1598   1598
Good        4891   4891     4891   4891   4891   4891   4891   4891   4891
Ideal      21488  21488    21488  21488  21488  21488  21488  21488  21488
Premium    13748  13748    13748  13748  13748  13748  13748  13748  13748
Very Good  12069  12069    12069  12069  12069  12069  12069  12069  12069

In [0]:
pd.crosstab(df.cut,df.color)

color         D     E     F     G     H     I    J
cut
Fair        163   222   309   312   299   174  119
Good        660   931   908   869   699   518  306
Ideal      2823  3893  3819  4865  3104  2090  894
Premium    1599  2331  2321  2918  2351  1422  806
Very Good  1510  2399  2163  2298  1819  1203  677

In [0]:
pd.crosstab(df.clarity,df.cut)

cut      Fair  Good  Ideal  Premium  Very Good
clarity
I1        210    95    146      205         84
IF          9    71   1206      230        268
SI1       406  1555   4268     3567       3236
SI2       459  1074   2594     2927       2096
VS1       170   646   3582     1984       1774
VS2       258   978   5056     3350       2587
VVS1       17   186   2039      616        789
VVS2       69   286   2597      869       1235

In [0]:
df.groupby(['cut','clarity']).color.count()

cut        clarity
Fair       I1          210
           IF            9
           SI1         406
           SI2         459
           VS1         170
           VS2         258
           VVS1         17
           VVS2         69
Good       I1           95
           IF           71
           SI1        1555
           SI2        1074
           VS1         646
           VS2         978
           VVS1        186
           VVS2        286
Ideal      I1          146
           IF         1206
           SI1        4268
           SI2        2594
           VS1        3582
           VS2        5056
           VVS1       2039
           VVS2       2597
Premium    I1          205
           IF          230
           SI1        3567
           SI2        2927
           VS1        1984
           VS2        3350
           VVS1        616
           VVS2        869
Very Good  I1           84
           IF          268
           SI1        3236
           SI2        2096
           VS1        1774
           VS2        2587
           VVS1        789
           VVS2       1235
Name: color, dtype: int64

In [0]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [0]:
pd.pivot_table(df,index='cut',columns='color',values='price',aggfunc=np.mean)

color,D,E,F,G,H,I,J
cut,,,,,,,
Fair,4291.061350,3689.743243,3834.750809,4227.000000,5091.307692,4607.534483,4975.655462
Good,3408.107576,3425.748657,3497.254405,4114.074799,4246.585122,5032.471042,4587.833333
Ideal,2635.239107,2601.217056,3378.721131,3728.445838,3896.114369,4452.125359,4922.871365
Premium,3634.493433,3542.385242,4327.297286,4498.782728,5217.907274,5934.466245,6287.733251
Very Good,3472.662252,3215.471030,3777.724457,3874.210183,4524.835074,5257.477140,5110.304284

In [0]:
df.groupby(['color','cut']).price.mean()

color  cut
D      Fair         4291.061350
       Good         3408.107576
       Ideal        2635.239107
       Premium      3634.493433
       Very Good    3472.662252
E      Fair         3689.743243
       Good         3425.748657
       Ideal        2601.217056
       Premium      3542.385242
       Very Good    3215.471030
F      Fair         3834.750809
       Good         3497.254405
       Ideal        3378.721131
       Premium      4327.297286
       Very Good    3777.724457
G      Fair         4227.000000
       Good         4114.074799
       Ideal        3728.445838
       Premium      4498.782728
       Very Good    3874.210183
H      Fair         5091.307692
       Good         4246.585122
       Ideal        3896.114369
       Premium      5217.907274
       Very Good    4524.835074
I      Fair         4607.534483
       Good         5032.471042
       Ideal        4452.125359
       Premium      5934.466245
       Very Good    5257.477140
J      Fair         4975.655462
       Good         4587.833333
       Ideal        4922.871365
       Premium      6287.733251
       Very Good    5110.304284
Name: price, dtype: float64

In [0]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [0]:
# read 11th to 20th row and from x till z and display the result

In [0]:
# advanced filtering of the rows and columns in a dataframe

In [0]:
# loc- filter rows by label and select columns by label

In [0]:
df.loc[19]

carat            0.3
cut        Very Good
color              J
clarity          SI1
depth           62.7
table             59
price            351
x               4.21
y               4.27
z               2.66
Name: 19, dtype: object

In [0]:
df.loc[11:20]

    carat        cut color clarity  depth  table  price     x     y     z
11   0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12   0.22    Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
13   0.31      Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
14   0.20    Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15   0.32    Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
16   0.30      Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
17   0.30       Good     J     SI1   63.4   54.0    351  4.23  4.29  2.70
18   0.30       Good     J     SI1   63.8   56.0    351  4.23  4.26  2.71
19   0.30  Very Good     J     SI1   62.7   59.0    351  4.21  4.27  2.66
20   0.30       Good     I     SI2   63.3   56.0    351  4.26  4.30  2.71

In [0]:
df.loc[11:20,'x':'z']

       x     y     z
11  3.93  3.90  2.46
12  3.88  3.84  2.33
13  4.35  4.37  2.71
14  3.79  3.75  2.27
15  4.38  4.42  2.68
16  4.31  4.34  2.68
17  4.23  4.29  2.70
18  4.23  4.26  2.71
19  4.21  4.27  2.66
20  4.26  4.30  2.71

In [0]:
df.loc[11:20,['x','z']]

       x     z
11  3.93  2.46
12  3.88  2.33
13  4.35  2.71
14  3.79  2.27
15  4.38  2.68
16  4.31  2.68
17  4.23  2.70
18  4.23  2.71
19  4.21  2.66
20  4.26  2.71

In [0]:
df.loc[:,'x':'z'].head()

      x     y     z
0  3.95  3.98  2.43
1  3.89  3.84  2.31
2  4.05  4.07  2.31
3  4.20  4.23  2.63
4  4.34  4.35  2.75

In [0]:
# iloc- filter rows by Position and seelct columns by position

In [0]:
df.iloc[11:20]

    carat        cut color clarity  depth  table  price     x     y     z
11   0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12   0.22    Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
13   0.31      Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
14   0.20    Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15   0.32    Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
16   0.30      Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
17   0.30       Good     J     SI1   63.4   54.0    351  4.23  4.29  2.70
18   0.30       Good     J     SI1   63.8   56.0    351  4.23  4.26  2.71
19   0.30  Very Good     J     SI1   62.7   59.0    351  4.21  4.27  2.66

In [0]:
df.loc[11:20]

    carat        cut color clarity  depth  table  price     x     y     z
11   0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12   0.22    Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
13   0.31      Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
14   0.20    Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15   0.32    Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
16   0.30      Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
17   0.30       Good     J     SI1   63.4   54.0    351  4.23  4.29  2.70
18   0.30       Good     J     SI1   63.8   56.0    351  4.23  4.26  2.71
19   0.30  Very Good     J     SI1   62.7   59.0    351  4.21  4.27  2.66
20   0.30       Good     I     SI2   63.3   56.0    351  4.26  4.30  2.71

In [0]:
df.iloc[11:20,7:]

       x     y     z
11  3.93  3.90  2.46
12  3.88  3.84  2.33
13  4.35  4.37  2.71
14  3.79  3.75  2.27
15  4.38  4.42  2.68
16  4.31  4.34  2.68
17  4.23  4.29  2.70
18  4.23  4.26  2.71
19  4.21  4.27  2.66

In [0]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [0]:
df.head()

   carat      cut color clarity  depth  table  price     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.35  2.75

In [0]:
y = df.pop('y')

In [0]:
df.head()

   carat      cut color clarity  depth  table  price     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  2.75